<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Life Fit</title>
	<link rel="stylesheet" href="/mainscreen/main.css" />
	<style>
	</style>
</head>
<body>
<div id="container">
    <div id="header">
		<!-- TODO: 왼쪽 기준으로 로고 삽입. 오른쪽 기준으로 메뉴 삽입. -->
		<div id="logo" class="header-menu header-menu-1">
			Life Fit
		</div>
		<div id="login" class="header-menu header-menu-2">
			<a href="#">로그인</a>
		</div>
		<div id="join" class="header-menu header-menu-3">
			<a href="#">회원가입</a>
		</div>
    </div>

	<div id="content">
		<div id="sidebar">
			<!-- TODO: 사이드바 메뉴에 대신 아이콘 이미지를 제작해 삽입한다. 규격: 80px*80px -->
<!--			<div id="main-sidebar-1" class="sidebar-menu" onclick="sidebarPopup(1)">-->
<!--				카테고리-->
<!--			</div>-->
			<div id="main-sidebar-1" class="sidebar-menu" onclick="sidebarPopup(2)">
				검색
			</div>
			<div id="main-sidebar-2" class="sidebar-menu">
				<a href="#">커뮤니티</a>
			</div>
		</div>

<!--		<div id="popup-category" class="popup-search">-->
<!--			<form method="get">-->
<!--				<div id="popup-category-area">-->
<!--					<label for="popup-category-area-dropdown">지역 선택</label>-->
<!--					<select name="area" id="popup-category-area-dropdown">-->
<!--						<option value="부산" selected>부산</option>-->
<!--						<option value="부산진구">부산진구</option>-->
<!--					</select>-->
<!--				</div>-->
<!--				<div id="popup-category-category">-->
<!--					<table id="popup-category-table">-->
<!--					</table>-->
<!--				</div>-->
<!--				<div id="popup-category-button">-->
<!--					<input type="reset" value="리셋">-->
<!--					<input type="button"  onclick="search()" value="검색">-->
<!--				</div>-->
<!--			</form>-->
<!--		</div>-->
		<div id="popup-keyword" class="popup-search">
			<form onsubmit="return search(event)">
				<div id="popup-keyword-keyword">
					<label for="popup-keyword-keyword-search">키워드 검색</label><br>
					<input type="search" name="keyword" id="popup-keyword-keyword-search">
				</div>
				<div id="popup-keyword-category">
					카테고리 검색
					<table id="popup-keyword-table">
						<tr>
							<td>
								<input type="radio" id="popup-keyword-category-option1" name="category" value="지하철">
								<label for="popup-keyword-category-option1">지하철</label>
							</td>
							<td>
								<input type="radio" id="popup-keyword-category-option2" name="category" value="버스">
								<label for="popup-keyword-category-option2">버스</label>
							</td>
							<td>
								<input type="radio" id="popup-keyword-category-option3" name="category" value="병원/약국">
								<label for="popup-keyword-category-option3">병원/약국</label>
							</td>
							<td>
								<input type="radio" id="popup-keyword-category-option4" name="category" value="어린이집">
								<label for="popup-keyword-category-option4">어린이집</label>
							</td>
						</tr>
						<tr>
							<td>
								<input type="radio" id="popup-keyword-category-option5" name="category" value="초등학교">
								<label for="popup-keyword-category-option5">초등학교</label>
							</td>
							<td>
								<input type="radio" id="popup-keyword-category-option6" name="category" value="중학교">
								<label for="popup-keyword-category-option6">중학교</label>
							</td>
							<td>
								<input type="radio" id="popup-keyword-category-option7" name="category" value="고등학교">
								<label for="popup-keyword-category-option7">고등학교</label>
							</td>
							<td>
								<input type="radio" id="popup-keyword-category-option8" name="category" value="학원">
								<label for="popup-keyword-category-option8">학원</label>
							</td>
						</tr>
						<tr>
							<td>
								<input type="radio" id="popup-keyword-category-option9" name="category" value="치안시설">
								<label for="popup-keyword-category-option9">치안시설</label>
							</td>
							<td>
								<input type="radio" id="popup-keyword-category-option10" name="category" value="CCTV">
								<label for="popup-keyword-category-option10">CCTV</label>
							</td>
							<td>
<!--								<input type="radio" id="popup-category-category-option11" name="category" value="치안">-->
<!--								<label for="popup-category-category-option11">치안</label>-->
							</td>
							<td>
<!--								<input type="radio" id="popup-category-category-option12" name="category" value="치안">-->
<!--								<label for="popup-category-category-option12">치안</label>-->
							</td>
						</tr>
					</table>
				</div>
				<div>
					<label for="popup-keyword-area-dropdown">지역 선택</label>
					<select name="area" id="popup-keyword-area-dropdown">
						<option value="">-- 지역 선택 --</option>
						<option value="부산 중구">중구</option>
						<option value="부산 서구">서구</option>
						<option value="부산 동구">동구</option>
						<option value="부산 영도구">영도구</option>
						<option value="부산 부산진구">부산진구</option>
						<option value="부산 동래구">동래구</option>
						<option value="부산 남구">남구</option>
						<option value="부산 북구">북구</option>
						<option value="부산 해운대구">해운대구</option>
						<option value="부산 사하구">사하구</option>
						<option value="부산 금정구">금정구</option>
						<option value="부산 강서구">강서구</option>
						<option value="부산 연제구">연제구</option>
						<option value="부산 수영구">수영구</option>
						<option value="부산 사상구">사상구</option>
						<option value="부산 기장군">기장군</option>
					</select>
				</div>
				<div id="popup-keyword-button">
					<input type="reset" value="리셋">
					<input type="submit" value="검색">
				</div>
			</form>
		</div>

		<div id="map"></div>
	</div>
				<!--	<div id="popup-info" class="popup-info">-->
<!--		<h6 id="popup-info-title"></h6>-->
<!--		<div id="popup-info-location"></div>-->
<!--		<a href="#" target="_blank" id="popup-info-url">상세보기</a>-->
<!--	</div>-->
</div>


<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=e262bfbb1608191632ecc076189ec9cc&libraries=services"></script>
<script type="text/javascript" src="/mainscreen/main.js"></script>
<script>
	var container = document.getElementById('map');
	var options = {
		center: new kakao.maps.LatLng(35.1379222, 129.05562775),
		level: 9
	};

	var map = new kakao.maps.Map(container, options);
</script>
</body>
</html>