<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>즐겨찾기 목록</title>
    <link rel="stylesheet" href="/mainscreen2/main.css" />
    <link rel="stylesheet" href="/css/setting.css" />
    <link rel="stylesheet" href="/css/plugin.css" />
    <link rel="stylesheet" href="/css/templatehouse.css" />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/login.css" />
</head>
<body>
<div class="header" th:replace="fragments/header :: header"></div>
<!--    <div class="p-5 mb-5 text-center bg-light">-->
<!--        <h1 class="mb-3">My Favorites</h1>-->
<!--        <h4 class="mb-3">나의 즐겨찾기 목록을 확인하세요.</h4>-->
<!--    </div>-->
<!--<header class="th-layout-header">-->
<!--    <div class="temhabank-N1" id="fFMd5L2SV0">-->
<!--        <div class="header-container container-md" style="border-bottom: none;">-->
<!--            <div class="header-center">-->
<!--                <div class="header-gnb">-->
<!--                    <ul class="header-gnblist">-->
<!--                        <li class="header-gnbitem">-->
<!--                            <a class="header-gnblink" href="/member/profile">-->
<!--                                <span>개인정보 수정 및 회원 탈퇴</span>-->
<!--                            </a>-->
<!--                        </li>-->
<!--                        <li class="header-gnbitem">-->
<!--                            <a class="header-gnblink" href="/member/favorites">-->
<!--                                <span>즐겨찾기 메뉴</span>-->
<!--                            </a>-->
<!--                        </li>-->
<!--                    </ul>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</header>-->
<div class="container mt-5">
    <ul class="list-group">
        <li class="list-group-item" th:text="${favorite.num}"></li>
        <li class="list-group-item" th:text="${favorite.address}"></li>
        <li class="list-group-item" th:text="${favorite.userId}"></li>
        <li class="list-group-item" th:text="${favorite.description}"></li>
        <li class="list-group-item text-right">
            <button type="button" id="delete-btn" class="btn btn-secondary btn-sm">삭제</button>
        </li>
    </ul>
</div>

</body>
<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=e262bfbb1608191632ecc076189ec9cc&libraries=services"></script>
<script>
    let container = document.getElementById('map');
    const options = {
        center: new kakao.maps.LatLng(35.1379222, 129.05562775),
        level: 9
    };
    var map = new kakao.maps.Map(container, options);
    //
    // const header = document.getElementById('header');
    //
    // fetch("/mainscreen/header.html").then((response) => {response.text()}).then((data) => {header.innerHTML = data})
</script>

<script>
    document.querySelector("#delete-btn").addEventListener("click", () => {
        let id = `[[${favorite.num}]]`
        fetch(`/member/favorites/${id}`, {
            method: 'DELETE',
            headers: {
                'Content-Type': 'application/json'
            }
        })
            .then(response => {
                if (response.ok) {
                    location.href = "/member/favorites" // 삭제 후 새로고침
                } else {
                    alert('계정이 다릅니다.');

                }
            });
    });
</script>
<script type="text/javascript" src="/mainscreen/search.js"></script>
<script type="text/javascript" src="/mainscreen/main.js"></script>
</html>