
body {
    box-sizing: border-box;
    overflow: hidden;
    margin: 0;
    height: 100%;
    min-height: 100vh;
}
#container {width:100vw; height:100vh;}
#header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
}
#content {
    position: absolute;
    top: 60px;
    width: 100%;
    height: calc(100vw - 60px);
}
#sidebar {
    position: fixed;
    width: 80px;
    height: calc(100vw - 60px);
    border: #aaa solid 1px;
    user-select: none;
}
#map {
    position: absolute;
    left: 80px;
    width: calc(100vw - 80px);
    height: calc(100vw - 60px);
    border: #aaa solid 1px;
}

.header-menu {
    position: absolute;
    top: 0;
    height: 60px;
    width: 100px;
}
.header-menu-2 {
    position: absolute;
    right: 100px;
}
.header-menu-3 {
    position: absolute;
    right: 0;
}
.sidebar-menu {
    height: 80px;
    width: 80px;
    border-bottom: #aaa solid 1px;
}

.popup-search {
    position: absolute;
    z-index: 3;
    visibility: hidden;
    top: 0;
    left: 80px;
    height: 400px;
    max-height: calc(100vh - 200px);
    width: 300px;
    background-color: #fff;
    border: #aaa solid 1px;
}

.popup-show {
    visibility: visible;
}
