<!DOCTYPE html>
<html lang="en">
<footer id="footer">
    <div class="gtco-container">
        <div class="row row-pb-md">
            <div class="col-md-12 text-center">
                <div class="gtco-widget" >
                    <h3>Get Social</h3>
                    <ul class="gtco-social-icons">
                        <li><a href="#" style= "border-bottom: none;"><i class="fa-brands fa-twitter"></i></a></li>
                        <li><a href="#" style= "border-bottom: none;"><i class="fa-brands fa-facebook"></i></a></li>
                        <li><a href="#" style= "border-bottom: none;"><i class="fa-brands fa-linkedin"></i></a></li>
                        <li><a href="#" style= "border-bottom: none;"><i class="fa-brands fa-dribbble"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-12 text-center copyright">
                <p><small class="block">&copy; 2025 LIFEFIT. All Rights Reserved.</small>
                    <small class="block">Designed by <a href="https://www.busanit.ac.kr/" target="_blank">BusanITcenter</a>, Images: <a href="http://unsplash.com/" target="_blank">Unsplash</a></small></p>
            </div>
        </div>
    </div>
</footer>
</html>