<!-- fragments/header.html -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/extras/spring-security">

<body>

<header class="th-layout-header">
    <div class="temhabank-N1" id="fFMd5L2SV0">
        <div class="header-container container-md">
            <div class="header-left">
                <h2 class="header-title">
                    <a href="javascript:void(0)">
                        <img src="/images/LIFEFIT.png" alt="LIFEFIT" />
                    </a>
                </h2>
            </div>
            <div class="header-center">
                <div class="header-gnb">
                    <ul class="header-gnblist">
                        <li class="header-gnbitem">
                            <a class="header-gnblink" href="/notice">
                                <span>공지사항</span>
                            </a>
                        </li>
                        <li class="header-gnbitem">
                            <a class="header-gnblink" href="/topic">
                                <span>주제게시판</span>
                            </a>
                        </li>
                        <li class="header-gnbitem">
                            <a class="header-gnblink" href="/free">
                                <span>자유게시판</span>
                            </a>
                        </li>
                        <li class="header-gnbitem">
                            <a class="header-gnblink" href="/service">
                                <span>이용서비스</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="header-right">
                <div class="header-utils">
                    <ul>
                        <!-- 로그인 상태일 때 -->
                        <li sec:authorize="isAuthenticated()" class="auth-menu">
                            <a class="header-gnblink" th:href="@{/member/profile}"><span>마이페이지</span></a>
                        </li>
                        <li sec:authorize="isAuthenticated()" class="auth-menu" style="padding-right: 30px;">
                            <a class="header-gnblink" th:href="@{/member/logout}"><span>로그아웃</span></a>
                        </li>

                        <!-- 비로그인 상태일 때 -->
                        <li sec:authorize="isAnonymous()" class="auth-menu">
                            <a class="header-gnblink" th:href="@{/member/login}"><span>로그인</span></a>
                        </li>
                        <li sec:authorize="isAnonymous()" class="auth-menu" style="padding-right: 30px;">
                            <a class="header-gnblink" th:href="@{/member/join}"><span>회원가입</span></a>
                        </li>

                        <li class="allmenu">
                            <button class="btn-allmenu">
                                <i class="ico-hamburger"></i>
                                <i class="ico-hamburger"></i>
                                <i class="ico-hamburger"></i>
                            </button>
                        </li>
                    </ul>
                </div>
                <button class="btn-momenu">
                    <i class="ico-hamburger"></i>
                    <i class="ico-hamburger"></i>
                    <i class="ico-hamburger"></i>
                </button>
            </div>
            <div class="header-fullmenu fullmenu-top">
                <div class="fullmenu-wrapper">
                    <div class="fullmenu-head">
                        <h4 class="fullmenu-title">
                            <a href="javascript:void(0)">
                                <img src="/images/LIFEFIT.png" alt="LIFEFIT" />
                            </a>
                        </h4>
                    </div>
                    <ul class="fullmenu-gnblist">
                        <li class="fullmenu-gnbitem">
                            <a class="h5 fullmenu-gnblink">
                                <span>게시판</span>
                            </a>
                            <ul class="fullmenu-sublist">
                                <li class="fullmenu-subitem">
                                    <a class="p1 fullmenu-sublink" href="/free">
                                        <span>자유게시판</span>
                                    </a>
                                </li>
                                <li class="fullmenu-subitem">
                                    <a class="p1 fullmenu-sublink" href="/topic">
                                        <span>주제게시판</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="fullmenu-gnbitem">
                            <a class="h5 fullmenu-gnblink">
                                <span>도움말</span>
                            </a>
                            <ul class="fullmenu-sublist">
                                <li class="fullmenu-subitem">
                                    <a class="p1 fullmenu-sublink" href="/notice">
                                        <span>공지사항</span>
                                    </a>
                                </li>
                                <li class="fullmenu-subitem">
                                    <a class="p1 fullmenu-sublink" href="/service">
                                        <span>이용서비스</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="fullmenu-gnbitem">
                            <a class="h5 fullmenu-gnblink" href="/member/profile">
                                <span>마이페이지</span>
                            </a>
                            <ul class="fullmenu-sublist">
                                <li class="fullmenu-subitem">
                                    <a class="p1 fullmenu-sublink" href="/member/favorites">
                                        <span>즐겨찾기</span>
                                    </a>
                                </li>
                                <li class="fullmenu-subitem">
                                    <a class="p1 fullmenu-sublink" href="/member/profile">
                                        <span>개인정보 수정 및 탈퇴</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <!--<li class="fullmenu-gnbitem">
                            <a class="h5 fullmenu-gnblink" href="javascript:void(0)">
                                <span>외환</span>
                            </a>
                            <ul class="fullmenu-sublist">
                                <li class="fullmenu-subitem">
                                    <a class="p1 fullmenu-sublink" href="javascript:void(0)">
                                        <span></span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="fullmenu-gnbitem">
                            <a class="h5 fullmenu-gnblink" href="javascript:void(0)">
                                <span>오픈뱅킹</span>
                            </a>
                            <ul class="fullmenu-sublist">
                                <li class="fullmenu-subitem">
                                    <a class="p1 fullmenu-sublink" href="javascript:void(0)">
                                        <span></span>
                                    </a>
                                </li>
                            </ul>
                        </li>-->
                    </ul>
                </div>
                <button class="fullmenu-close">
                    <img src="/images/ico_s20_close_white.png" alt="닫기" />
                </button>
            </div>
        </div>
    </div>
    <!--<div class="temhabank-N6" id="NTMd5l2tFS">
        <div class="contents-container">
            <button type="button" class="btn-open ff-ico ti-chevrons-rect-right">
                <span class="blind">퀵 메뉴 열기</span>
            </button>
            <ul class="menu-list">
                <li class="item black">
                    <button type="button" class="btn-close ff-ico ti-chevrons-rect-left">
                        <span>닫기</span>
                    </button>
                </li>
                <li class="item primary">
                    <a href="javascript:void(0)">
                        <img src="/icons/ico_branch.svg" alt="영업점 조회" />
                        <span>영업점 조회</span>
                    </a>
                </li>
                <li class="item gray">
                    <a href="javascript:void(0)">
                        <img src="/icons/ico_security.svg" alt="보안센터" />
                        <span>보안센터</span>
                    </a>
                </li>
                <li class="item secondary">
                    <a href="javascript:void(0)">
                        <img src="/icons/ico_guide.svg" alt="이용안내" />
                        <span>이용안내</span>
                    </a>
                </li>
                <li class="item primary-alpha">
                    <a href="javascript:void(0)">
                        <strong>고객센터</strong>
                        <span>070-8872-8874</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>-->
</header>

<script>
    function openGuidePanel() {
        alert('이용서비스 패널 열기!');
        // 실제 기능 연결
    }

</script>

</body>
</html>
