<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">

<aside class="side-bar">
    <section class="side-bar__icon-box">
        <section class="side-bar__icon-1">
            <div></div>
            <div></div>
            <div></div>
        </section>
    </section>
    <ul>
        <li>
            <a href="#"><i class="fa-solid fa-cat"></i> 메인페이지로 가기</a>
        </li>
        <li>
            <a href="#">도움말</a>
            <ul>
                <li><a href="#" onclick="openGuidePanel()">이용서비스</a></li>
                <li><a href="/notice">공지사항</a></li>
            </ul>
        </li>
        <li>
            <a href="/topic">주제게시판</a>
        </li>
        <li>
            <a href="/free">자유게시판</a>
        </li>
    </ul>
</aside>
